:root {
    --primary-color: #2ca01c;
    --green-color:green;
    --white-color: #ffffff;
    --icon-pimary-color: #000;
    --hover-color: #f8f8f8;
    --active-color: #3dd429;
    --secondary--color: rgb(248 248 248);
    --navbar-with: 180px;
    --footer-heigh: 56px;
    --header-height: 50px;
    --color-content: #f4f5f8;
    --btn-hover: #e0e0e0;
    --link-hover:#aaa8a8;
    --icon-color:#495057;
    --btn-blue:#5454e7;
    --delete-btn-color:#ff0000;
}

.font-size-13{
    font-size: 13px !important;
}

.font-size-20{
    font-size: 20px !important;
}

.font-size-16{
    font-size: 16px !important;
}
.font-size-inherit{
    font-size: inherit !important;;
}

.width-100{
    width: 100% !important;
}

.text-decoration-n{
    text-decoration: none;
}

.container{
    max-width: 100%;
}

.border{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}

.t-border-bm{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}

.flex-basic{
    display: flex;
    align-items: center;
}
.flex-jc-end{
    justify-content: flex-end;
}

.position-relative{
    position: relative;
}


.flex-nowrap{
    flex-flow: nowrap;
}
.margin-lt-8{
    margin-left: 8px;
}
.height-inherit{
    height: inherit !important;;
}

.height-initial{
    height: initial !important;;
}
.margin-lt-12{
    margin-left: 12px;
}
.color-blue{
    color:blue;
}

.margin-lt-16{
    margin-left: 16px;
}

.padding-lt-0{
    padding-left: 0px;
}

.padding-lt-8{
    padding-left: 8px;
}


.padding-lt-24{
    padding-left: 24px;
}


.font-size-16{
    font-size: 16px;
}


.margin-top-24{
    margin-top: 24px;
}
.margin-right-24{
    margin-right: 24px;
}

.t-navbar{
    padding: 0px;
}
.font-weight-bold{
    font-weight: bold;
}
.margin-bm-12{
    margin-bottom: 12px;
}

.margin-bm-0{
    margin-bottom: 0px;
}
.margin-bm-16{
    margin-bottom: 12px;
}
.active-menu{
    background-color:var(--btn-hover);
}
.error{
    color: var(--delete-btn-color);
}

.border-radius-right-0{
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;
}

.border-radius-left-0{
    border-top-left-radius:0px ;
    border-bottom-left-radius: 0px;
}




