.t-content-height{
    height: calc(100vh - var(--header-height));
}


.main-content-wrap{
    margin: 20px 10px 0 10px;
}

.main-content-wrap .content-header{
    font-size: 26px;
}


@media screen and (max-width: 1200px){
    .t-content-height {
        height:auto;
    }
}