.t-header-height{
    height: var(--header-height);
    background-color: var(--secondary--color);
    border-bottom: 1px solid #ccc;
}


.t-header .t-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.t-header .t-header-content .text{
    font-size: 20px;
}